<!--<h1>{{ title }}</h1>
<hr />
<button (click)="changeTitle()">Change Title</button>

<span>
  You have clicked this button
  <span>
    {{ times }}
  </span>
  times
</span>-->

<h1>Workshop App</h1>
<hr />
<section>
  <p>Welcome to the Workshops App</p>
  <p>
    The app serves details of (ficitious) technical workshops happening in
    various cities. Every workshops has a broad topic (eg. Javascript), and a
    workshop has many sessions (each session covers a sub-topic, eg. Closure in
    Javascript).
  </p>
  <p>
    You can view a list of workshops, details of every workshop, add a workshop,
    view the list of sessions in a workshop and also add a session for a
    workshop
  </p>
</section>
