.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
    *width: fit-content;
}

.nav-main a {
    text-decoration: none;
    color: white;
}

.nav-main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-center {
    gap: 30px;
}

.menu-center li {
    white-space: nowrap;
}

.menu-center .fa-solid {
    color: white;
    font-size: 0.85em;
    position: relative;
    top: -2px;
}
