html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.section {
    padding: 4rem;
    *width: fit-content;
}

.link-test {
    text-decoration: none;
    background-color: rgb(12, 151, 142);
    padding: 6px;
    border-radius: 4px;
}

.hero {
    width: 400px;
    margin: 0 auto;
}

.link-video {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(12, 151, 142);
    padding: 16px 24px;
    border-radius: 24px;
}
