.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.bg-primary {
    background-color: rgb(0, 110, 117);
}

.text-white {
    color: white;
}

.text-dark {
    color: #333;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.6rem;
}

.text-xl {
    font-size: 3.6rem;
}

.text-nowrap {
    white-space: nowrap;
}

.d-flex {
    display: flex;
}

.mr-2 {
    margin-right: 8px;
}

.align-items-center {
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
    *transition: transform 250ms;
}

.btn:hover {
    *transform: scale(1.05);
    animation: pulse 300ms;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.btn-light {
    background-color: white;
    color: #333;
}
